.contact_area {
  padding: 144px 72px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.contact_logo {
  height: 42px;
  object-fit: contain;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.form_container p {
  width: 100%;
  display: flex;
}

.form_container label {
  display: inline-block;
  width: 24vw;
  text-align: start;
}

.form {
  width: 64vw;
  padding: 16px 8px;
  border: 1px solid #7f7f7f;
}

.privacy_check {
  display: flex;
  align-items: center;
  gap: 8px;
}

.submit_btn {
  color: #fff;
  background-color: #666;
}

.submit_btn:hover {
  color: #000;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0;
}

.img_copyright {
  height: 20px;
}

@media (max-width: 767px) {
  .contact_area {
    padding: 144px 40px 0;
  }
  .form_container label, .form {
    width: 100%;
  }

  .form_container p {
    flex-direction: column;
  }

  .footer {
    padding: 64px 0 128px;
  }
}
