.hd_area {
  position: relative;
}

.hd_logo {
  /* img要素はインライン要素、picture要素はブロック要素であることに注意 */
  display: inline-block;
  position: absolute;
  left: 64px;
  bottom: 16px;
  height: 24px;
}

.hd_img {
  width: 100%;
}

.hd_btns {
  display: flex;
  align-items: center;
  gap: 24px;
  position: absolute;
  right: 64px;
  bottom: 16px;
}

.hd_btns li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.hd_btns a i {
  color: #000;
  font-size: 2em;
}

@media (max-width: 767px) {
  .hd_logo {
    left: 16px;
    bottom: 8px;
    width: 64vw;
  }

  .hd_btns {
    gap: 16px;
    right: 16px;
    bottom: 0;
    transform: translateY(120%);
  }

  .hd_btns a i {
    font-size: 1.5em;
  }
}
