.product_area, .feature_area {
  padding: 144px 72px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.feature_area {
  align-items: center;
}

.product_part_tea, .product_part_scone, .feature_tea, .feature_snacks {
  display: flex;
  align-items: center;
}

.product_part_scone, .feature_snacks {
  flex-direction: row-reverse;
}

.feature_tea, .feature_snacks {
  gap: 56px;
}

.product_img, .feature_img {
  width: 80vw;
  max-width: 600px;
  object-fit: contain;
}

.product_img {
  max-width: 600px;
}

.feature_img {
  max-width: 450px;
}

.product_tea, .product_scone {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 72px 56px 96px;
  z-index: 2;
}

.product_tea {
  margin-left: -108px;
}

.product_scone {
  margin-right: -108px;
}

.product_title, .feature_title {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 8px;
}

.feature_caption {
  font-size: x-large;
  font-weight: bold;
}

@media (max-width: 767px) {
  .product_area, .feature_area {
    padding: 144px 40px 0;
    gap: 24px;
  }

  .product_part_tea, .product_part_scone, .feature_tea, .feature_snacks {
    flex-direction: column;
    gap: 24px
  }

  .product_tea, .product_scone {
    margin: 0;
    padding: 0;
    gap: 8px
  }

  .product_title, .feature_title {
    font-size: x-large;
  }

  .feature_caption {
    font-size: large;
  }
}
